__pycache__/
*.py[cod]
*.so
*.zip
_*.bat
*.sh
*.egg
*.csv
*.egg-info/
dist/
build/
env/
venv/
*.log
local_settings.py
db.sqlite3
/staticfiles/
/media/
/rekjrc-frontend/
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
