asgiref==3.11.0
channels==4.3.2
colorama==0.4.6
Django==6.0.2
django-cors-headers==4.9.0
django-environ==0.12.0
django-extensions==4.1
django-phonenumber-field==8.4.0
django-user-agents==0.4.0
django-widget-tweaks==1.5.1
djangorestframework==3.16.1
phonenumbers==9.0.22
pillow==12.1.0
psycopg2-binary==2.9.11
qrcode==8.2
sqlparse==0.5.5
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==202602
user-agents==2.2.0
