{% extends "base.html" %}
{% block content %}
{% load race_filters %}
<!-- teams/detail.html -->

<div class="panel">
  <h3>
    {% if object.avatar %}
      <img src="{{ object.avatar.url }}" alt="{{ object.display_name }}" class="menu-avatar-large"/>
    {% else %}
      <img src="/static/nophoto_TEAM.png" alt="{{ object.display_name }}" class="menu-avatar-large"/>
    {% endif %}
    {{ object }}
  </h3>
</div>

<div class="panel" style="text-align: center">
  <table align="center" cellpadding="5" width="100%">
    {% for label, value in field_values %}
      {% if value and label != "is active" and label != "avatar" %}
        <tr>
          <td align="left"><strong>{{ label|title }}</strong></td>
          <td align="left">{{ value }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td align="left"><strong>Is Active</strong></td>
      <td align="left">{{ object.is_active }}</td>
    </tr>
    {% if is_owner %}
      <tr>
        <td colspan="2" align="left">
          <hr />
          Owner functions:
          <a href="edit" class="button">Edit</a>,
          <a href="delete" class="button button-danger">Delete</a>
        </td>
      </tr>
    {% endif %}
  </table>
</div>

<div class="panel">
  <h4>Members</h4>
  {% for member in object.members.all %}
    <div>
      {{ member.user.get_full_name|default:member.user.username }}
      {% if is_owner %}
        - <a href="{% url 'teams:member-remove' object.uuid member.id %}">remove</a>
      {% endif %}
    </div>
  {% empty %}
    <em>No members yet</em>
  {% endfor %}
  {% if is_owner %}
    <br />
    <a href="{% url 'teams:member-add' object.uuid %}" class="button">Add Member</a>
  {% endif %}
</div>

{% endblock %}