{% extends "base.html" %}
{% block content %}
<!-- templates/accounts/login.html -->
<div class="panel">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

  <hr />

  <p>
    <center>
      Don't have an account?<br />
      <a href="{% url 'accounts:register' %}">Register here</a>
    </center>
  </p>

  <hr />

  <form method="get" action="{% url 'oidc_authentication_init' %}">
    <button type="submit">Log in with Okta SSO</button>
  </form>

</div>
{% endblock %}