{% extends "base.html" %}
{% block content %}
<!-- templates/products/manage_image_form.html -->

<div class="panel" style="text-align:center;">
  <h3>{{ action }} Image - {{ product.name }}</h3>
</div>

<div class="panel"><br />
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if object.image %}
      <p><img src="{{ object.image.url }}" alt="{{ object.alt_text }}" style="max-width:200px;" /></p>
    {% endif %}
    <table align="center" cellpadding="5">
      {% for field in form %}
      <tr>
        <td valign="top">{{ field.label_tag }}</td>
        <td>
          {{ field }}
          {% if field.help_text %}<br /><span class="muted">{{ field.help_text }}</span>{% endif %}
          {% if field.errors %}<br /><span class="error">{{ field.errors }}</span>{% endif %}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>

<div class="panel" style="text-align: center">
  <a href="{% url 'products:manage_images' store.slug product.slug %}">&larr; Back to images</a>
</div>

{% endblock %}
