{% extends "base.html" %}
{% block content %}
<!-- templates/products/manage_image_confirm_delete.html -->

<div class="panel" style="text-align:center;">
  <h3>Delete this image?</h3>
  {% if object.image %}
    <p><img src="{{ object.image.url }}" alt="{{ object.alt_text }}" style="max-width:200px;" /></p>
  {% endif %}
</div>

<div class="panel" style="text-align:center;">
  <form method="post">
    {% csrf_token %}
    <p>Are you sure? This can't be undone.</p>
    <button type="submit">Yes, delete</button>
  </form>
</div>

<div class="panel" style="text-align: center">
  <a href="{% url 'products:manage_images' store.slug product.slug %}">&larr; Back to images</a>
</div>

{% endblock %}
