{% extends "base.html" %}
{% block content %}
{% load race_filters %}
<!-- crud/detail.html -->

<div class="panel">
  <h3>
    {% if object.avatar %}
      <a href="{{ object.avatar.url }}">
        <img src="{{ object.avatar.url }}" alt="{{ object.display_name }}" class="menu-avatar-large"/>
      </a>
    {% else %}
      <img src="/static/nophoto_{{ model_name|upper }}.png" alt="{{ object.display_name }}" class="menu-avatar-large"/>
    {% endif %}
    {{ object }}
  </h3>
</div>

<div class="panel" style="text-align: center">
  <table align="center" cellpadding="5" width="100%">
    {% for label, value in field_values %}
      {% if value and label != "is active" and label != "avatar" %}
        <tr>
          <td align="left">
            <strong>{{ label|title }}</strong>
          </td>
          <td align="left">
            {{ value }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td align="left"><strong>Is Active</strong></td>
      <td align="left">{{ object.is_active }}</td>
    </tr>
    {% if is_owner %}
      <tr>
        <td colspan="2" align="left">
          <hr />
          Owner functions:
          <a href="edit" class="button">Edit</a>,
          {% if object.has_advanced %}
            <a href="delete" class="button button-danger">Delete</a>,
            <a href="advanced" class="button">Advanced</a>
          {% else %}
            <a href="delete" class="button button-danger">Delete</a>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  </table>
</div>

{% if model_name == "event" %}
  {% include "events/detail.html" %}
{% endif %}

{% endblock %}