{% extends "base.html" %}
{% block content %}
{% load race_filters %}
<!-- races/detail.html -->

<div class="panel">
  <h3>
    {% if object.avatar %}
      <img src="{{ object.avatar.url }}" alt="{{ object.display_name }}" class="menu-avatar-large"/>
    {% else %}
      <img src="/static/nophoto_RACE.png" alt="{{ object.display_name }}" class="menu-avatar-large"/>
    {% endif %}
    {{ object }}
  </h3>
</div>

{% if is_owner or object.enable_chat %}
<div class="panel">
  {% if is_owner %}
    {% if object.race_finished %}
      <h2>Race Finished</h2>
    {% else %}
      <form method="get" action="{% url 'races:start' object.uuid %}" style="display: inline;">
        <button type="submit" class="button">Start Race</button>
      </form><p>
    {% endif %}
  {% endif %}
  {% if object.enable_chat %}
    <form method="get" action="{% url 'chat:room' model_name object.uuid %}" style="display: inline;">
      <button type="submit" class="button">Enter Chat Room</button>
    </form>
  {% endif %}
</div>
{% endif %}

<div class="panel" style="text-align: center">
  <table align="center" cellpadding="5" width="100%">
    {% for label, value in field_values %}
      {% if value and label != "is active" and label != "avatar" %}
        <tr>
          <td align="left"><strong>{{ label|title }}</strong></td>
          <td align="left">{{ value }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td align="left"><strong>Is Active</strong></td>
      <td align="left">{{ object.is_active }}</td>
    </tr>
    {% if is_owner %}
      <tr>
        <td colspan="2" align="left">
          <hr />
          Owner functions:
          <a href="edit" class="button">Edit</a>,
          <a href="delete" class="button button-danger">Delete</a>
        </td>
      </tr>
    {% endif %}
  </table>
</div>

{% if object.judge_team %}
<div class="panel">
  <h4>{{ object.judge_team }}</h4>
  <ul>
    {% for member in object.judge_team.members.all %}
      <li>{{ member.user.get_full_name|default:member.user.username }}</li>
    {% empty %}
      <li><em>No judges assigned yet</em></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="panel">
  <h4>Race Entries</h4>
  <ul>
    {% for racedriver in racedrivers %}
      <li>
        {% if racedriver.transponder %}#{{ racedriver.transponder }} - {% endif %}
        {{ racedriver.driver }} ({{ racedriver.build }})
      </li>
    {% empty %}
      <li>No drivers have joined yet</li>
    {% endfor %}
  </ul>
</div>

{% if not object.race_finished %}
  {% if object.entry_type == "Open" and not object.entry_locked %}
    <div class="panel">
      <center>
        <h3>Open Entry Race</h3>
        <hr>
        <form method="get" action="{% url 'races:join' object.uuid %}" style="display: inline;">
          <button type="submit" class="button">Enter Race</button>
        </form>
        <hr>
        <a href="/media/qrcodes/races/{{ object.uuid }}.png">
          <img src="/media/qrcodes/races/{{ object.uuid }}.png" style="width:100%; height:100%;" />
        </a>
      </center>
    </div>
  {% elif object.entry_type == "Invitational" %}
    <div class="panel">
      <h3>Invitational Race</h3>
    </div>
  {% endif %}
{% endif %}

{% endblock %}