{% extends "base.html" %}
{% block content %}
<!-- races/list.html -->
 
<div class="panel" style="text-align: center">
  <h3>My {{ model_name_plural|title }}</h3>
  {% if not object_list %}
    - No entries -<br />
  {% endif %}
  <a href="create">Create New</a>
</div>

{% if object_list %}
  {% for build in object_list %}
    <div class="post bgmouse" onclick="window.location.href='{{ build.get_absolute_url }}';">
      <table cellpadding="5" cellspacing="0">
        <tr>
          {% if build.avatar %}
            <td valign="top">
              <img src="{{ build.avatar.url }}" alt="{{ build.display_name }}" class="menu-avatar-large"/>
            </td>
          {% else %}
            <td valign="top">
              <img src="/static/nophoto_{{ model_name|upper }}.png" alt="No Avatar" class="menu-avatar-large"/>
            </td>
          {% endif %}
          <td valign="top">
            <strong>{{ build }}</strong>
            {% if build.description %}
              <p>{{ build.description|linebreaksbr }}</p>
            {% endif %}
            {% if build.created_at %}
              <p class="muted">Created {{ build.created_at|date:"M d, Y" }}</p>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
