{% extends "base.html" %}
{% block content %}
<!-- races/list.html -->

<div class="panel" style="text-align: center">
  <h3>My Races</h3>
  {% if not races %}
    - No races -<br />
  {% endif %}
  <a href="create">Create New</a>
</div>

{% for race in races %}
  {% include "races/list_panel.html" %}
{% endfor %}

{% if judge_races %}
  <div class="panel" style="text-align: center">
    <h3>Judge Races</h3>
  </div>
  {% for race in judge_races %}
    {% include "races/list_panel.html" %}
  {% endfor %}
{% endif %}

{% endblock %}
