{% extends "base.html" %}
{% block content %}
<!-- races/longjump_start.html -->

<div class="panel">
<center>
<h3>{{ race }}</h3>
</center>
<table style="width:100%; text-align:center;" cellpadding="2" cellspacing="2">
    <tr>
        {% if not race.race_finished %}
            <th>Action</th>
        {% endif %}
        <th>Driver</th>
        <th>Model</th>
        <th>Distance</th>
    </tr>
    {% for d in racedrivers %}
        <tr>
            {% if not race.race_finished %}
                <td>
                    {% if d.run and d.run.display_distance %}
                        --
                    {% else %}
                        <a href="{% url 'longjump:race' race_uuid=race.uuid racedriver_uuid=d.uuid %}">Run</a>
                    {% endif %}
                </td>
            {% endif %}
            <td>{{ d.driver }}</td>
            <td>{{ d.build }}</td>
            <td>
                {% if d.run and d.run.display_distance %}
                    {{ d.run.display_distance }}
                {% else %}
                    --
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="5">No drivers signed up yet.</td></tr>
    {% endfor %}
</table>

{% if not race.race_finished %}
    <br />
    <form method="post" action="{% url 'races:lock' uuid=race.uuid %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% if race.entry_locked %}
                LOCKED - Unock Entries
            {% else %}
                Lock Entries
            {% endif %}
        </button>
    </form>
{% endif %}

<br />

{% if not race.race_finished %}
    <form method="post" action="{% url 'longjump:finish' race_uuid=race.uuid %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            Finish Race
        </button>
    </form>
{% else %}
    <center><h4>-Race is Finished-</h4></center>
{% endif %}

</div>
{% endblock %}
