{% extends "base.html" %}
{% block content %}
<!-- support.html -->

<div class="panel">
  <h3>Support</h3>
  <a href="mailto:rekjrc@gmail.com">rekjrc@gmail.com</a>
  (<a href="javascript:navigator.clipboard.writeText('rekjrc@gmail.com')">copy</a>)
  <br /><br />
  <p>Frequently Asked Questions</p>
  <ol>
    <li>
      Question: How do I get started?
      <ul>
        <li>Like this:</li>
        <ol>
          <li>Create a Driver</li>
          <li>Create a Build</li>
          <li>Join a race</li>
        </ol>
        <li>Or like this:</li>
        <ol>
          <li>Create a Driver</li>
          <li>Create a Build</li>
          <li>Create a Track - optional</li>
          <li>Create a Race</li>
          <li>Invite people to join</li>
          <li>Join yourself - optional</li>
          <li>Run your race</li>
        </ol>
        <li>Or like this:</li>
        <ol>
          <li>Create several Drivers</li>
          <li>Create several Builds</li>
          <li>Create a Track</li>
          <li>Create a Race</li>
          <li>Join your race several times</li>
          <li>Run the race and control it all</li>
        </ol>
      </ul>
    </li>
  </ol>
  
  Q: What kind of races can you run?
  <ul>
    <li>Lap Race - multi-lap race with a timing system</li>
    <li>Drag Race - single-elimination tree, no timing</li>
    <li>Crawler Comp = crawler competition based on points with time</li>
  </ul>
</div>
{% endblock %}
